.top-text
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    font-size: 40px;
    line-height: 60px;
    margin-top: 120px

.text1
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding-bottom: 8px
    font-size: 16px;
    line-height: 24px;

.text--top
    color: #FF5300

.service-divider
    height: 1px
    width: 40px
    align-self: end

.what-we-do 
    display: flex
    flex-wrap: wrap
    margin: 30px auto 120px auto
    flex-direction: row
    width: 1170px
    gap 30px
    

.card-style
    width: 370px
    height: 300px
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
    border-radius: 10px
    padding: 30px

.card--top
    display: flex
    flex-direction: row
    justify-content: space-between
    

.card-img
    align-self: start

.card-number
    justify-self: end
    font-size: 64px
    line-height: 73px
    color: #EFEFEF

.text-block
    display: flex
    flex-direction: column
    margin-top: 15px
    color: #7B7B7B

.block--title
    font-family: Poppins-SemiBold
    color: #373737
    font-size: 25px
    line-height: 38px

.block--small-text
    font-family: Poppins-Light
    font-size: 13px
    line-height: 19px
    padding-top: 10px
    padding-bottom: 15px

.block--main-text
    font-family: Poppins-Light
    font-size: 16px;
    line-height: 24px;

.text--bottom
    font-family: Poppins-SemiBold