extends ../layout/main

block variables
	- var title = 'ЛР-2'
	- var pageClass = 'index-page'

block title
	div.firstPage
		div.header
			div.logo
				p.color.logo--text Digi 
				p.logo--text ency
			div.header--menu
				li.textColor.text--menu.color Home
				li.textColor.text--menu About Us
				li.textColor.text--menu Services
				li.textColor.text--menu Portfolio
				li.textColor.text--menu Blog
				li.textColor.text--menu Contact Us
			div.talk 
				p.text Let's Talk
		div.info
			div.info--text
				p.textColor.text--info Choose What Matters To Your Business & Your Customers.
				p.textColor.lorem--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in digni ssim euismod purus donec mus vulputate habitant iaculis. Comodo enim ornare turpis tempus enim, nibh nulla. Rhoncus sed.
				div.start
					p Get Start Now
			img(src="../../static/img/svg/person.svg" alt="person" id="person")
			
			


block content
	.top-text
		.text1
			img(src="../../static/img/general/divider.png", alt="").service-divider
			p.text--top Our Services
			img(src="../../static/img/general/divider.png", alt="").service-divider
		p.text--bottom What We Do
	.what-we-do 
		.card-style
			.card--top
				img(src="../../static/img/svg/ux-interface.svg").card-img
				p.card-number 01
			.text-block
				p.block--title UX Design
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
		.card-style
			.card--top
				img(src="../../static/img/svg/gaming.svg").card-img
				p.card-number 02
			.text-block
				p.block--title Game Design
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
		.card-style
			.card--top
				img(src="../../static/img/svg/design.svg").card-img
				p.card-number 03
			.text-block
				p.block--title Graphic Design
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
		.card-style
			.card--top
				img(src="../../static/img/svg/web-design.svg").card-img
				p.card-number 04
			.text-block
				p.block--title Web Design
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
		.card-style
			.card--top
				img(src="../../static/img/svg/mobile-development.svg").card-img
				p.card-number 05
			.text-block
				p.block--title App Development
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
		.card-style
			.card--top
				img(src="../../static/img/svg/digital-marketing.svg").card-img
				p.card-number 06
			.text-block
				p.block--title Digital Marketing
				p.block--small-text Mobile App, Website
				p.block--main-text Lorem ipsum dolor sit amet, consec tet ur adipiscing elit. Accumsan sed faucibu s faucibus augue. Cras ut.
			
