@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

@font-face
  font-family Work Sans
  font-style normal
  font-weight: 600
  src url(../fonts/WorkSans-SemiBold.ttf)

@font-face
  font-family Poppins
  font-style normal
  font-weight: 400
  src url(../fonts/Poppins-Regular.ttf)

@font-face
  font-family Poppins-light
  font-style normal
  font-weight: 300
  src url(../fonts/Poppins-Light.ttf)

@font-face
  font-family Poppins-semibold
  font-style normal
  font-weight: 600
  src url(../fonts/Poppins-SemiBold.ttf)

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family Poppins
	height 100%

h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	tr()
	color inherit
	text-decoration none

	&:hover 
		color $normalGray

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select,
button
	outline none

*, *:before, *:after
	box-sizing border-box

.wrapper
	display flex
	flex-direction column
	height 100%

.content
	display: flex
	flex-direction: column


.container 
	padding 0 27px

.svg 
	background-repeat no-repeat
	background-size contain
	background-position center center
body
	background: #FFF7F4;

.firstPage
	width: 1440px
	height: 850px
	margin-left: auto
	margin-right: auto	
	padding-top: 30px

.header
	display: flex
	flex-direction: row
	justify-content: space-around
	margin-top: 30px
	margin-bottom: 150px

.logo
	font-size: 39.06px;
	line-height: 46px;
	display: flex
	flex-direction: row

.logo--text
	font-family: Work Sans
	color #373737

.textColor
	color #373737

.color
	color: #FF5300;

.text--menu
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;

.header--menu
	display: flex
	flex-direction: row
	gap: 29px
	align-self: center

.talk
	display: flex;
	flex-direction: row
	align-items: center
	justify-content: center
	padding: 10px 22px;
	gap: 10px;
	width: 135px;
	height: 50px;
	border: 1px solid #373737
	border-radius: 5px

.info
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	
.text--info
	font-weight: 700
	font-size: 48.83px
	line-height: 73px
	margin-left: 90px
	margin-bottom: 20px
	width: 602px;
	height: 220px;

.lorem--text
	font-size: 16px;
	line-height: 24px;
	width: 586px;
	height: 76px;
	color: #7B7B7B;
	margin-left: 90px

#person
	width: 553.03px;
	height: 470.91px;
	margin-right: 90px

.start
	display: flex;
	flex-direction: row
	align-items: center
	justify-content: center
	width: 182px;
	height: 50px;
	background: #FF5300;
	border-radius: 5px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	margin-left: 90px
	margin-top: 30px

.info--text
	display: flex;
	flex-direction: column

//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
// Главная страница
@import 'pages/index/index.styl'